

<app-header></app-header>
<router-outlet></router-outlet>
<!-- <p>Hello</p> -->
<!-- string interpolation -->
<!-- <p>{{title}}</p>

<p>{{3+2}}</p> -->

<!-- event binding  dom to ts-->
<!-- <button (click)="submit()">Click Me</button>
<br> -->
<!-- property binding -->

<!-- <img [src]="imageSource" alt="">

<input type="text" [value]="empName"> -->


<!-- structural directives add or remove element from the DOM--> 
<!-- <p *ngIf="toggleName">hello world</p>
<ul *ngFor="let item of studentarr">
  <li>{{item}}</li>
</ul> -->

<!-- attribute directives  add css styles to dom elements-->

<!-- <div [ngClass]="{ 'available': empAvailability ,
                  'not-available': !empAvailability }">Employer available</div> 
 -->
